{% extends 'base.html.twig' %}
{% block title %}Accueil{% endblock %}
{% block style %}
    <style>
        body{
            background: url('{{ asset('seconnecter.jpg') }}') no-repeat center fixed;
            background-size: cover;
        }
    </style>
{% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="pr-wrap">
                    <div class="pass-reset">
                        <label>
                            Entrer votre email</label>
                        <input type="email" placeholder="Email" />
                        <input type="submit" value="Submit" class="pass-reset-submit btn btn-success btn-sm" />
                    </div>
                </div>
                <div class="wrap">
                    <p class="form-title">
                        Se Connecter</p>
                    {% if error %}
                        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}

                    <form class="login" action="{{ path('login') }}" method="post">
                        <input type="text" placeholder="Pseudo" name="_username" value=""/>
                        <input type="password" placeholder="Mot de passe" name="_password" value=""/>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="checkbox icheck-primary">
                                        <input type="checkbox" id="someCheckboxId1" name="_remember_me" />
                                        <label for="someCheckboxId1">Se souvenir de moi</label>
                                    </div>
                                </div>
                                <div class="col-md-6">

                                    <div class="checkbox icheck-primary">
                                        <label><a href="" class="forgot-pass">Mot de passe oublié?</a></label>
                                    </div>

                                </div>
                            </div>
                        <input type="submit" value="Se connecter" class="btn btn-success btn-sm" />
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}