{% extends 'base.html.twig' %}

{% block style %}
    <link href="{{ asset('css/dashboard.css') }}" rel="stylesheet" type="text/css" media="screen">
    <link href="{{ asset('bootstrap-tagsinput.css') }}" rel="stylesheet" type="text/css" media="screen">
{% endblock %}
{% block body %}
    <div class="container paddingtop">
        <div class="row">
            <h3> DASHBOARD </h3>
        </div>
    </div>
{% endblock %}
