{% extends 'base.html.twig' %}

{% block style %}
    <style>
        .image{
            background: url('{{ asset('accueil1.jpg') }}') no-repeat center fixed;
            background-size: cover;
            background-position: 0 100%;
            min-height: 500px;
        }
    </style>
{% endblock %}
{% block body %}
    <div class="container-fluid image">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <p class=largetitle> WILD EXCHANGE</p>
                <p class="slogan"> Echangez sans chaussures</p>
               <div class="span12">
                <form id="custom-search-form" class="form-search form-horizontal pull-right">
                    <div class="input-append span12">
                        <div class="searchdiv">
                            <input type="text" class="search-query" placeholder="Rechercher">
                            <button type="submit" class="btn"><i class="glyphicon glyphicon-search"></i></button>
                        </div>
                    </div>
                </form>
               </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <p class="presentation">Une plateforme d'échange collaborative fiable et puissante.</br>
                    </br>
                    Wild Exchange est un site web proposant des questions et réponses sur un large choix de thèmes
                    concernant la programmation informatique.</br>
                    </br>
                    Il fait partie du réseau de sites Wild Code School .</p>
            </div>
        </div>
    </div>

    <section class="publication-blog-home">
        <div class="container-fluid">
            <div class="">
                <h2>Questions</h2>
                <div class="row-page row">
                    <div class="col-page col-sm-8 col-md-6">
                        <a href="" class="black fond-publication-home">
                            <div class="img-publication-principal-home">
                                <img class="" src="http://i.imgur.com/YRQbAsN.jpg">
                            </div>
                            <div class="contenu-publication-principal-home">
                                <h3>Problème d'installation PHP</h3>
                                <p>Comment installer PHP sous Linux?<span>...</span></p>
                            </div>
                            <div class="lien-blog-home">
                                <span>En savoir plus</span>
                            </div>
                        </a>
                    </div>
                    <div class="col-page col-sm-4 col-md-3">
                        <a href=""  class="fond-publication-home">
                            <div class="img-publication-home">
                                <img class="img-responsive" src="http://i.imgur.com/e4beVh0.jpg">
                            </div>
                            <div class="contenu-publication-home">
                                <h3>Balise lien HTML</h3>
                                <p>Comment insérer un lien en HTML?<span>...</span></p>
                            </div>
                            <div class="lien-blog-home">
                                <span>En savoir plus</span>
                            </div>
                        </a>
                    </div>
                    <div class="col-page col-sm-4 col-md-3">
                        <a href="" class="fond-publication-home">
                            <div class="img-publication-home">
                                <img class="img-responsive" src="https://f4.bcbits.com/img/0001454268_10.jpg">
                            </div>
                            <div class="contenu-publication-home">
                                <h3>Framework</h3>
                                <p>Qu'est ce qu'un framework?<span>...</span></p>
                            </div>
                            <div class="lien-blog-home">
                                <span>En savoir plus</span>
                            </div>
                        </a>
                    </div>
                    <div class="col-page col-sm-4 col-md-3">
                        <a href="" class="fond-publication-home">
                            <div class="img-publication-home">
                                <img class="img-responsive" src="http://store.btgrubu.com/image/cache/data/ide/phpstorm-500x500.png">
                            </div>
                            <div class="contenu-publication-home">
                                <h3>PhpStorm</h3>
                                <p>Comment changer l'apparence de PhpStorm?<span>...</span></p>
                            </div>
                            <div class="lien-blog-home">
                                <span>En savoir plus</span>
                            </div>
                        </a>
                    </div>
                    <div class="hidden-sm col-page col-sm-4 col-md-3">
                        <a href="" class="fond-publication-home">
                            <div class="img-publication-home">
                                <img class="img-responsive" src="http://www.cmsobserver.com/wp-content/uploads/2013/11/drupal-8-symfony-2-01-300x300.png">
                            </div>
                            <div class="contenu-publication-home">
                                <h3>Symfony</h3>
                                <p>Comment creer un Bundle avec symfony?<span>...</span></p>
                            </div>
                            <div class="lien-blog-home">
                                <span>En savoir plus </span>
                            </div>
                        </a>
                    </div>
                    <div class="hidden-sm col-page col-sm-4 col-md-3">
                        <a href="" class="fond-publication-home">
                            <div class="img-publication-home">
                                <img class="img-responsive" src="http://www.ssquares.co.in/wp-content/uploads/2017/01/symfony-development-ssquares.png">
                            </div>
                            <div class="contenu-publication-home">
                                <h3>Formulaire de connexion Symfony</h3>
                                <p>Comment faire fonctionner un formulaire de connexion avec symfony?<span>...</span></p>
                            </div>
                            <div class="lien-blog-home">
                                <span>En savoir plus </span>
                            </div>
                        </a>
                    </div>
                    <div class="col-page col-sm-4 col-md-3">
                        <a href="{{ path('inscriptionpage') }}" class="toutes-les-publication-home">
                            <span>Rejoignez-nous pour en voir plus!</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block js %}
    <script>
        $(window).scroll(function(){

            if( $(this).scrollTop() == 0 ) {
                $('.navbar-defaultt').addClass('x-navbar-fixed-top');
            }
            else if ($('.navbar-defaultt').hasClass('x-navbar-fixed-top') ) {
                $('.navbar-defaultt').removeClass('x-navbar-fixed-top');
            }

        });

        if( $(this).scrollTop() == 0 ) {
            $('.navbar-defaultt').addClass('x-navbar-fixed-top');
        }
        else if ($('.navbar-defaultt').hasClass('x-navbar-fixed-top') ) {
            $('.navbar-defaultt').removeClass('x-navbar-fixed-top');
        }
    </script>
{% endblock %}