{% extends 'base.html.twig' %}

{% block style %}
    <style>
        .image {
            background: url('{{ asset('accueil1.jpg') }}') no-repeat center fixed;
            background-size: cover;
            background-position: 0 100%;
            min-height: 400px;
        }
    </style>
{% endblock %}
{% block body %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">

                <div class="card hovercard">
                    <div class="cardheader">

                    </div>
                    <div class="avatar">
                        <img src="{{ asset(user.avatarurl) }}">
                    </div>
                    <div class="info">
                        <div class="title">
                            {{ user.prenom }} {{ user.nom }}</a>
                        </div>

                    </div>
                    <div class="btn-toolbar card-body-social" role="toolbar">
                        <div class="btn-group fa fa-github-alt git"></div>
                        <div class="btn-group linkedin fa fa-linkedin-square"></div>
                        <div class="btn-group twitter fa fa-twitter"></div>
                        <div class="btn-group facebook fa fa-facebook"></div>
                        <div class="btn-group google-plus fa fa-google-plus"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
                <div class="boite col-lg-5">
                    <h1>Journal des actions</h1>
                    <p> blabla</p>
                </div>

                <div class="boite col-lg-5 col-lg-offset-2">
                    <h1>Statistiques de contribution</h1>
                    <p>nombre de questions postés:
                        Nombre de réponses postés
                        Nombre de votes envoyés
                        Nombre de commentaires postés
                        Nombre de votes reçus
                    </p>
                </div>
        </div>
        <div class="row">
                <div class="boitevote">
                    <h1>Top vote</h1>
                    <p></p>
                </div>
        </div>
    </div>

{% endblock %}

{% block js %}
    <script>
        $(window).scroll(function () {

            if ($(this).scrollTop() == 0) {
                $('.navbar-defaultt').addClass('x-navbar-fixed-top');
            }
            else if ($('.navbar-defaultt').hasClass('x-navbar-fixed-top')) {
                $('.navbar-defaultt').removeClass('x-navbar-fixed-top');
            }

        });

        if ($(this).scrollTop() == 0) {
            $('.navbar-defaultt').addClass('x-navbar-fixed-top');
        }
        else if ($('.navbar-defaultt').hasClass('x-navbar-fixed-top')) {
            $('.navbar-defaultt').removeClass('x-navbar-fixed-top');
        }
    </script>
{% endblock %}