{% extends 'base.html.twig' %}

{% block style %}
    <link href="{{ asset('bootstrap-tagsinput.css') }}" rel="stylesheet" type="text/css" media="screen">
    <style>
        body {
            background: url('{{ asset('questions.jpg') }}') no-repeat center fixed;
            background-size: cover;
        }
    </style>
{% endblock %}

{% block body %}

    <div class="container">
        <div class="row">

            <section class="content paddingtop">

                <div class="col-md-12">

                    <div class="panel panel-default panelbg">
                        <h1>Réponses</h1>
                            <ul class="chat">
                                <li class="left"><span class="chat-img pull-left">
                            <img src="https://s3.amazonaws.com/uifaces/faces/twitter/fffabs/128.jpg"
                                 class="media-photo">
                        </span>
                                    <div class="chat-body clearfix">
                                        <div class="header">
                                            <strong class="primary-font">Wild User</strong> <small class="pull-right text-muted">
                                                <span class="glyphicon glyphicon-time"></span> Il y a 12 min</small>
                                        </div>
                                        <p>
                                            Où que nous mène la morosité observée, il est très important d'uniformiser la globalité des améliorations envisageables, avec beaucoup de recul. Oui ou Non ?
                                        </p>
                                    </div>
                                </li>
                                <li class="right clearfix"><span class="chat-img pull-right">
                            <img src="https://s3.amazonaws.com/uifaces/faces/twitter/fffabs/128.jpg"
                                 class="media-photo">
                        </span>
                                    <div class="chat-body clearfix">
                                        <div class="header">
                                            <small class=" text-muted"><span class="glyphicon glyphicon-time"></span> Il y a 13 min</small>
                                            <strong class="pull-right primary-font">Wild User_2</strong>
                                        </div>
                                        <p>
                                            Illud tamen clausos vehementer angebat quod captis navigiis, quae frumenta vehebant per flumen, Isauri quidem alimentorum copiis adfluebant, ipsi vero solitarum rerum cibos iam consumendo inediae propinquantis aerumnas exitialis horrebant.
                                        </p>
                                    </div>
                                </li>
                                <li class="right clearfix"><span class="chat-img pull-right">
                            <img src="https://s3.amazonaws.com/uifaces/faces/twitter/fffabs/128.jpg"
                                 class="media-photo">
                        </span>
                                    <div class="chat-body clearfix">
                                        <div class="header">
                                            <small class=" text-muted"><span class="glyphicon glyphicon-time"></span> Il y a 13 min</small>
                                            <strong class="pull-right primary-font">Wild User_2</strong>
                                        </div>
                                        <p>
                                            "Parce que quand c'est fun, c'est Sym-fun-y."
                                        </p>
                                    </div>
                                </li>
                                <li class="right clearfix"><span class="chat-img pull-right">
                            <img src="https://s3.amazonaws.com/uifaces/faces/twitter/fffabs/128.jpg"
                                 class="media-photo">
                        </span>
                                    <div class="chat-body clearfix">
                                        <div class="header">
                                            <small class=" text-muted"><span class="glyphicon glyphicon-time"></span> Il y a 15 min</small>
                                            <strong class="pull-right primary-font">Wild User_3</strong>
                                        </div>
                                        <p>
                                            Je tiens à vous dire ici ma détermination sans faille pour clamer haut et fort que l'effort prioritaire en faveur du statut précaire des exclus conforte mon désir incontestable d'aller dans le sens d'une valorisation sans concession de nos caractères spécifiques.
                                        </p>
                                    </div>
                                </li>
                            </ul>

                                <input id="btn-input" type="text" class="form-control input-sm" placeholder="Ajouter une réponse..." />
                                <span class="input-group-btn">
                            <button class="btn btn-warning btn-sm" id="btn-chat">
                                Répondre</button>
                        </span>

                    </div>
                </div>
</div>
    </div>

{% endblock %}

{% block js %}
    <script>
        $(window).scroll(function () {

            if ($(this).scrollTop() == 0) {
                $('.navbar-defaultt').addClass('x-navbar-fixed-top');
            }
            else if ($('.navbar-defaultt').hasClass('x-navbar-fixed-top')) {
                $('.navbar-defaultt').removeClass('x-navbar-fixed-top');
            }

        });

        if ($(this).scrollTop() == 0) {
            $('.navbar-defaultt').addClass('x-navbar-fixed-top');
        }
        else if ($('.navbar-defaultt').hasClass('x-navbar-fixed-top')) {
            $('.navbar-defaultt').removeClass('x-navbar-fixed-top');
        }
    </script>
{% endblock %}