{% extends 'base.html.twig' %}

{% block body %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12"><img class="img-responsive" src="{{ asset('css.jpeg') }}" /></div>
            <div class="col-md-6 col-sm-6 col-xs-12"><img class="img-responsive" src="{{ asset('html.jpg') }}" /></div>
            <div class="col-md-6 col-sm-6 col-xs-12"><img class="img-responsive" src="http://blog.arborday.org/wp-content/uploads/2013/02/NEC1-300x200.jpg" /></div>
            <div class="col-md-6 col-sm-6 col-xs-12"><img class="img-responsive" src="http://th03.deviantart.net/fs70/200H/f/2010/256/0/9/painting_of_nature_by_dhikagraph-d2ynalq.jpg" /></div>
            <div class="col-md-6 col-sm-6 col-xs-12"><img class="img-responsive" src="http://www.virginia.org/uploadedImages/virginiaorg/Images/OrgImages/H/HamptonConventionVisitorBureau/Grandview_Nature_Preserve.jpg?width=300&height=200&scale=upscalecanvas" /></div>
            <div class="col-md-6 col-sm-6 col-xs-12"><img class="img-responsive" src="http://th03.deviantart.net/fs70/200H/f/2010/256/0/9/painting_of_nature_by_dhikagraph-d2ynalq.jpg" /></div>
            <div class="col-md-6 col-sm-6 col-xs-12"><img class="img-responsive" src="http://2.bp.blogspot.com/-H6MAoWN-UIE/TuRwLbHRSWI/AAAAAAAABBk/89iiEulVsyg/s400/Free%2BNature%2BPhoto.jpg" /></div>
            <div class="col-md-6 col-sm-6 col-xs-12"><img class="img-responsive" src="http://blog.arborday.org/wp-content/uploads/2013/02/NEC1-300x200.jpg" /></div>
        </div>
    </div>

{% endblock %}