{% extends 'base.html.twig' %}
{% block body %}

    <div class="container-fluid smallpaddingtop">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <p class=tagstitle> TAGS</p>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            {% for value in attributes %}
            {% endfor %}
            {% for value in attributes %}
                <a href="{{ path('questionpage', { 'tag': value.nom }) }}">

                <div class="col-md-6 col-sm-6 col-xs-12 ">
                    <div class="img-responsive" style="background-image: url({{ asset(value.imageurl) |replace({"\n":'', "\r":'', ' ':''})}});">
                        <div class="centertext">
                            {{ value.nom }}
                        </div>
                    </div>
                </div>
                </a>

            {% endfor %}
        </div>
    </div>

{% endblock %}

