* {
    box-sizing:border-box;
    -webkit-transition:.4s ease-in-out;
    font-family:Helvetica Neue, Helvetica,Arial,Verdana,sans-serif;
    margin:0;
}

html,body {
    height:100%;
    min-height:100%;
}

body {
    background:#fbfbfb;
}

#main-header {
    position:fixed;
    height:100px;
    top:0;
    left:300px;
    right:0;
    box-shadow:0 1px 0 #f1f1f1;
    background-color:rgba(255,255,255,.95);
    z-index:1;
}

#header_logo {
    margin:20px auto;
    width:60px;
    height:60px;
    overflow:hidden;
    text-indent:-5000px;
    position:relative;
    z-index:0;
    opacity:1;
}

#header_logo:hover {
    -webkit-transform:rotate(180deg);
    -moz-transform:rotate(180deg);
    -ms-transform:rotate(180deg);
    -o-transform:rotate(180deg);
    transform:rotate(180deg);
}

#header_logo a {
    display:block;
    height:100%;
    width:200%;
    position:absolute;
    border:20px solid #0f92d1;
    right:0%;
    border-radius:50px;
}

#admin-search {
    position:absolute;
    height:99px;
    line-height:100px;
    right:20px;
    top:0;
    text-align:right;
    z-index:0;
}

#search-label {
    display:block;
    position:absolute;
    text-align:center;
    line-height:40px;
    width:40px;
    height:40px;
    left:-40px;
    top:30px;
    color:#b0b0b0;
    font-size:20px;
    cursor:pointer;
    background:transparent;
}

#search-label:hover {
    color:#0f92d1;
}

#search-field {
    display:inline-block;
    height:60px;
    font-size:18px;
    width:0;
    border:none;
    outline:none;
    opacity:0;
    background:transparent;
}

#search-field:focus {
    width:200px;
    opacity:1;
}

#search-field:focus+label {
    color:#ef8700;
}

#sidenav {
    position:fixed;
    min-width:300px;
    height:100%;
    background-color:#35495d;
    left:0;
    top:0;
    z-index:1;
}

#sidenav-header {
    height:100px;
    line-height:60px;
    width:100%;
    background-color:#0f92d1;
    padding:20px 20px 20px 100px;
    position:relative;
}

#profile-picture {
    height:60px;
    width:60px;
    background-color:white;
    display:block;
    position:absolute;
    top:20px;
    left:20px;
    border-radius: 30px;
    overflow:hidden;
    box-shadow:0 0 0 2px rgba(255,255,255,.4);
}

#profile-picture img {
    width:100%;
    height:100%;
}

#profile-link {
    text-decoration:none;
    color:white;
}

#account-actions {
    height:100px;
    width:180px;
    padding:30px 0 0 20px;
    position:absolute;
    left:100%;
    top:0;
}

#account-actions a {
    display:block;
    position:relative;
    height:40px;
    line-height:40px;
    text-align:center;
    font-size:20px;
    color:#b0b0b0;
    width:40px;
    float:left;
    overflow:visible;
}

#messages:before {
    content:attr(data-newmessages);
    display:block;
    height:14px;
    width:14px;
    line-height:16px;
    border-radius:14px;
    position:absolute;
    right:-2px;
    font-size:10px;
    text-align:center;
    font-weight:200;
    color:white;
    background:#ef8700;
}

#menu-toggle {
    height:0px;
    width:0px;
    position:fixed;
    top:30px;
    left:0;
    margin-left:20px;
    line-height:0px;
    text-align:center;
    font-size:1px;
    color:#b0b0b0;
    overflow:hidden;
    z-index:500;
    -webkit-transform:rotate(0deg);
    box-shadow:0 0 0 0 #0f92d1;
}

#menu-toggle .fa-times {
    display:none;
}

.open-menu #menu-toggle .fa-times {
    display:inline;
}

.open-menu #menu-toggle .fa-bars {
    display:none;
}

#menu-toggle:hover {
    color:#ef8700;
}

#account-actions a:after {
    content:attr(data-title);
    display:block;
    width:100px;
    height:0px;
    text-align:center;
    position:absolute;
    left:-30px;
    font-size:12px;
    bottom:9px;
    opacity:0;
    -webkit-transition:.25s ease-in-out;
}

#account-actions a:hover {
    color:#ef8700;
}

#account-actions a:hover:after {
    opacity:1;
    bottom:14px;
}

#content p {
    padding:0;
    margin:0 0 20px 0;
}

#main-nav {
    list-style-type:none;
    padding:0;
    margin:0;
    position:absolute;
    width:100%;
    top:100px;
    bottom:0px;
    overflow:scroll;
}

#main-nav li {
    padding:0;
    margin:0;
}

#main-nav li a {
    display:block;
    padding:0 20px 0 100px;
    text-decoration:none;
    color:#98cde6;
    position:relative;
    text-transform:uppercase;
    font-weight:200;
    line-height:65px;
}

#main-nav li a:hover {
    color:white;
}

#main-nav li.active a {
    background:rgba(0,0,0,.2);
    color:white;
    box-shadow:inset 5px 0 0 #ef8700;
}

#main-nav li a .fa {
    font-size:30px;
    position:absolute;
    width:60px;
    height:65px;
    line-height:65px;
    text-align:center;
    left:20px;
}

#main-nav li.active a .fa {
    color:#98cde6;
}

#content-header {
    margin:-50px 0 0 -50px;
}

#tabs ul {
    list-style-type:none;
    height:65px;
    padding:0;
    margin:10px 10px 50px 250px;
}

#tabs li {
    float:left;
    line-height:65px;
    margin:0 30px 0 0;
    cursor:pointer;
    text-transform:uppercase;
    color:#748495;
}

#tabs li:first-of-type {
    margin:0 30px 0 50px;
}

#tabs li:hover {
    color:#2f3e4d;
}

#tabs li.active {
    box-shadow:inset 0 -5px 0 darkslateblue;
    color:#2f3e4d;
}

.tab-target {
    width:100%;
    left:0;
    opacity:0;
    overflow:hidden;
}

.tab-target.targeted {
    opacity:1;
}

.blue{
    background-color: #80CBC4;
    height: 200px;
    margin-top: 20px;
    border-radius:10px;
}

/*// BOUTON UPLOAD ////*/

.file {
    position: relative;
    height: 37px;
    width: 200px;
}

.file > input[type="file"] {
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0
}

.file > label {
    position: absolute;
    top: 0;
    right: 0;
    left: 10px;
    bottom: 0;
    background-color: darkgrey;
    color: #fff;
    border-radius: 5px;
    line-height: 30px;
    text-align: center;
    cursor: pointer
}

.inline {
    display: inline-flex;
    color: #7B7B7B;
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.control-label {
    padding-right: 200px;
    font-size: 22px;
}

.smallpaddingtop {
    padding-top: 110px;
    padding-bottom: 230px;
}

.verticalTXT {
    display:inline-block;
    width: 711px;
    height: 11px;
    fill: black;
    transform: rotate(90deg);
    margin-left: 400px;
}

.badges {
    color: #7B7B7B;
    float: right;
    padding-right: 50px;
    font-size: 27px;
}