
select.frecuency {
    border: none;
    font-style: italic;
    background-color: transparent;
    cursor: pointer;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: -webkit-transform 3s ease-in;
    transition: -webkit-transform 3s ease-in;
    border-bottom: none;
}
select.frecuency:focus {
    outline: none;
    border-bottom: 5px solid #39b3d7;
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
    -webkit-transition: -webkit-transform 3s ease-in;
    transition: -webkit-transform 3s ease-in;
}
.free {
    text-transform: uppercase;
    color: #1FA597;
}
.input-group {
    margin: auto;
    width: 100%;
    height: 200px;
    background-color: rgba(255,255,255,0.8) !important;
}
input {
    margin-bottom: 20px;
    margin-top: 20px;
    width: 70%;
    height: 60px;
    text-align: center;
}
textarea {
    width: 70%;
    height: 120px;
    resize: none;
}

.btn-lg {
    display: flex;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 1em 2em;
    outline: none;
    font-weight: 600;
    border: none;
    color: #fff;
    background: #1fa597;
}
::-webkit-input-placeholder {
    color: grey;
    opacity: 0.9 !important; /* for older chrome versions. may no longer apply. */
}

::-moz-placeholder { /* Firefox 18- */
    color: grey;
    opacity: 0.9 !important;
}

::-moz-placeholder {  /* Firefox 19+ */
    color: grey;
    opacity: 0.9 !important;
}

:-ms-input-placeholder {
    color: grey;
}

