
/*///// BODY /////*/

body {
    font-family: "inherit";
}
/*///// RECHERCHE ///// */

#custom-search-form {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 0;
    width: 100%;

}

#custom-search-form .search-query {
    margin-bottom: 0;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    width: 60%;
    height: 40px;
}
.searchdiv{

    margin:auto;
    display: block;
}

#custom-search-form button {
    border: 0;
    background: none;
    color: #000;
    /** belows styles are working good */
    padding: 2px 5px;
    margin-top: 2px;
    position: relative;
    left: -28px;
    /* IE7-8 doesn't have border-radius, so don't indent the padding */
    margin-bottom: 0;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}


/*///// ACCUEIL /////*/

.dropdown-toggle{
    margin: auto;
}
.dialog{
    z-index: 1000;
}
.largetitle {
    font-size: 46px;
    font-weight: bold;
    text-align: center;
    margin-top: 140px;
    margin-right: 200px;
    color: white;
}
.slogan {
    font-size: 40px;
    font-style: italic;
    text-align: center;
    margin-left: 200px;
    margin-top: 50px;
    color: white;
}
.presentation {
    font-size: 25px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

/*///// NAVBAR /////*/

.navbar-toggle{
    background: #1fa597;
}
.icon-bar{
    background-color: black;
    height: 2px;
    width: 10px;
}

.navbar-titre {
    font-size: 32px;
    margin-top: 20px;
    float: right;
    height: 50px;
    padding: 0 15px;
    line-height: 20px;
}
nav li{
    font-size: 20px;
    color: black;
    margin-right: 5px;
    margin-top: 10px;
}
.navbar-defaultt{
    padding-top: 10px;
    position:fixed;
    width: 100%;
    background-color: #FFFFFF;
    -webkit-transition: all 0.5s ease-in-out;
    color: #74716D;
    z-index: 1000;
    box-shadow: 10px 0 5px #888888;
}
.paddingtop{
    padding-top: 100px;
}
.x-navbar-fixed-top{
    position:fixed;
    min-height: 50px;
    box-shadow: 0 0 0 #888888 !important;
    background-color: rgba(0,0,0,0) !important;
}
.x-navbar-fixed-top a:not(.dropdown){
    color: white !important;
}
.x-navbar-fixed-top .dropdown a{
    color: black !important;
}
.x-navbar-fixed-top a:hover{
    color: #000 ;
}
.navbar-defaultt a{
    color: black;
}
.accueil {
    color: black;
    margin: 0 5px;
    box-shadow: 0 0 1px #000;
    -webkit-transition: all 0.5s ease-in-out;
    border: 0px;
}
.accueil:hover{
    -webkit-transform: scale(1.1);
    background: #31708f;
    color: #000 ;
}
.navbar img {
    width: 70px;
    height: 70px;
}
td:first-child{
    vertical-align: middle !important;
    margin:auto;
}
/*//// Avatar ////*/
.avatar-32x{
    height: 100px !important;
    width: 100px !important;
    overflow: hidden;
}
.avatar-16x{
    height: 50px !important;
    width: 50px !important;
    overflow: hidden;
    border-radius: 50px;
}
.avatar-160x{
    height: auto;
    width: 250px;
    overflow: hidden;
    border-radius: 100px;
}
.navbar-avatar{
    display: inline-block;
    margin : 0 auto;
    padding: 0 !important;
}

.navbar-avatar:focus, .navbar-avatar:hover{
    -moz-background-color: transparent !important;
    -webkit-background-color: transparent !important;
    -ms-background-color: transparent !important;
    background-color: transparent !important;
}

/*///// FOOTER /////*/

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,300);
footer { background-color:#1fa597; min-height:350px; text-align: center;}

.footerleft p { color:#fff; font-size:12px !important; margin-bottom:15px;}
.footerleft p i { width:20px; color:#999;}


.paddingtop-bottom {  margin-top:50px; position: inherit}
.footer-ul { list-style-type:none;  padding-left:0px; margin-left:2px;}
.footer-ul li { line-height:29px; font-size:13px;}
.footer-ul li a { color:white; transition: color 0.2s linear 0s, background 0.2s linear 0s; }
.footer-ul i { margin-right:10px;}
.footer-ul li a:hover {transition: color 0.2s linear 0s, background 0.2s linear 0s; color:#ff670f; }



.copyright { min-height:40px; background-color:#1fa597;}
.copyright p { text-align:center; color:#FFF; padding:10px 0; margin-bottom:0px;}
.heading7 { font-size:21px; font-weight:700; color:#FFFFFF; margin-bottom:22px;}

.ligne_footer {
    border-bottom:1px solid white;
}

p i{
    margin-right: 25px;
}
/*///// MODAL //////*/

a, button {
    color: white;
    text-decoration: none;
    outline: none;
}

a:hover, a:focus {
    outline: none;
}

button {
    padding: 1em 2em;
    outline: none;
    font-weight: 600;
    border: none;
    color: #fff;
    background: #1fa597;
}

/*//// BLOC ACCUEIL/////*/

.publication-blog-home {
    padding-bottom: 50px;
    background-size: 100% auto;
    background-color: #f1f1f1;
}
.publication-blog-home h2 {
    text-align: center;
    font-weight: 300;
    margin-bottom: 30px;
    font-size: 44px;
    margin-top: 70px;
}
.publication-blog-home h2 b {
    color: #1fa597;
}
.publication-blog-home .fond-publication-home {
    background: #ffffff;
    border-radius: 3px;
    overflow: hidden;
    height: 400px;
    margin-bottom: 20px;
    display: block;
    color: inherit;
    text-decoration: none;
    position: relative;
}
.publication-blog-home .fond-publication-home:hover h3 {
    color: #2BBCDE;
    /*    box-shadow: 0px 4px 3px 3px rgba(0, 0, 0, 0.08);*/
}
.publication-blog-home .fond-publication-home:hover .lien-blog-home {
    height: 400px;
    width: 100%;
    color: #aaa;
    background-color: #1fa597;
    position: absolute;
    top: 0;
    opacity: 0.95;
    -webkit-transition: all 0.8s ease-out 0s;
    -o-transition: all 0.8s ease-out 0s;
    transition: all 0.8s ease-out 0s;
}
.publication-blog-home .black {
    background: #1fa597;
}
.publication-blog-home .fond-publication-home .img-publication-principal-home {
    display: inline-block;
    width: 50%;
    overflow: hidden;
    height: 100%;
}
.publication-blog-home .fond-publication-home .img-publication-principal-home img {
    height: 100%;
    width: auto;
}
.publication-blog-home .fond-publication-home .contenu-publication-principal-home {
    display: inline-block;
    vertical-align: top;
    width: 49%;
    padding: 0 10px;
}
.publication-blog-home .fond-publication-home .contenu-publication-principal-home h3 {
    font-weight: 900;
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
}
.publication-blog-home .fond-publication-home .contenu-publication-principal-home p {
    color: #ffffff;
    font-size: 16px;
    font-weight: 300;
}
.publication-blog-home .fond-publication-home .contenu-publication-home {
    padding: 0 10px;
}
.publication-blog-home .fond-publication-home .contenu-publication-home h3 {
    font-weight: 900;
    font-size: 20px;
    text-transform: uppercase;
}
.publication-blog-home .fond-publication-home .img-publication-home  {
    overflow: hidden;
    max-height: 180px;
}
.lien-blog-home {
    height: 400px;
    width: 0%;
    color: #aaa;
    background-color: #1fa597;
    position: absolute;
    top: 0;
    opacity: 0.0;
    -webkit-transition: all 0.8s ease-out 0s;
    -o-transition: all 0.8s ease-out 0s;
    transition: all 0.8s ease-out 0s;
    text-align: center;
    padding-top: 180px;
}
.lien-blog-home span {
    text-align: center;
    max-height: 400px;
    border: 1px solid #fff;
    display: inline-block;
    padding: 10px 30px;
    border-radius: 3px;
    color: #fff;
    font-weight: 900;
    font-size: 16px;
}
.publication-blog-home .toutes-les-publication-home {
    background: #1fa597;
    height: 400px;
    width: 100%;
    display: inline-block;
    padding: 20px;
    text-decoration: none;
    border-radius: 3px;
}
.publication-blog-home .toutes-les-publication-home span {
    color: #fff;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 26px;
}

@media (max-width: 950px) {
    .x-smalltext {
        display: none;
    }
    .dialog h2{
        font-size: 20px !important;

    }
    .avatar-160x{
        height: auto;
        max-width: 200px;
        overflow: hidden;
        border-radius: 100px;
    }
    #tabs {
        margin: 0 0 0 -280px;
    }
    .x-navbar-fixed-top a:not(.dropdown){
        color: black !important;
    }
    .accueil{
        background-color: rgba(255,255,255,0.8);
        color: black;
    }
    .x-navbar-fixed-top a{
        color: black !important;
    }
    .navbar-titre{
        display : none;
    }
    .slogan {
        margin-left: 0;
    }
    .publication-blog-home h2 {
        text-align: center;
        font-weight: 300;
        margin-bottom: 30px;
        font-size: 34px;
        margin-top: 70px;
    }
    .publication-blog-home .fond-publication-home {
        background: #ffffff;
        border-radius: 3px;
        overflow: hidden;
        height: inherit;
        margin-bottom: 20px;
        display: block;
        color: inherit;
        text-decoration: none;
        position: relative;
    }
    .publication-blog-home .fond-publication-home .img-publication-principal-home {
        display: inline-block;
        width: 100%;
        overflow: hidden;
        height: auto;
    }
    .publication-blog-home .fond-publication-home .img-publication-principal-home img {
        height: auto;
        width: 100%;
    }
    .publication-blog-home .black {
        background: #fff;
    }
    .publication-blog-home .fond-publication-home .contenu-publication-principal-home {
        display: inline-block;
        vertical-align: top;
        width: 100%;
        padding: 0 10px;
    }
    .publication-blog-home .fond-publication-home .contenu-publication-principal-home h3 {
        font-weight: 900;
        color: #333;
        text-transform: uppercase;
        font-size: 20px;
    }
    .publication-blog-home .fond-publication-home .contenu-publication-principal-home p {
        color: #333;
        font-size: 14px;
        font-weight: 400;
    }
    .publication-blog-home .toutes-les-publication-home {
        background: #1fa597;
        height: 100%;
        width: 100%;
        display: inline-block;
        padding: 20px;
        text-decoration: none;
        border-radius: 3px;
    }
}

/*//// TAGS /////*/

.tagstitle {
    font-size: 40px;
    font-weight: 100;
    text-align: center;
    color: #1FA597;
}

.img-responsive {
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
    -webkit-transition: 300ms -webkit-filter linear;
    -moz-transition: 300ms -moz-filter linear;
    -moz-transition: 300ms filter linear;
    -ms-transition: 300ms -ms-filter linear;
    -o-transition: 300ms -o-filter linear;
    transition: 300ms filter linear;
    -webkit-box-shadow: 0px 2px 6px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 6px 2px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 6px 2px rgba(0,0,0,0.75);
    width: 80%;
    max-height: 340px;
    margin: auto;
    margin-top: 50px;
    margin-bottom:50px;
    background-size: cover;
    height: 300px;
    display: flex;
    background-position: center;
}

.centertext{
    background-color: rgba(0,0,0,0.5);
    color: white;
    font-size: 50px;
    width: 100%;
    text-align: center;
    margin: auto;
    display: inline-block;
    vertical-align: middle;
}

.img-responsive:hover {
    filter: none; /* IE6-9 */
    -webkit-filter: grayscale(0); /* Google Chrome, Safari 6+ & Opera 15+ */

}


/*//// QUESTIONS ////*/
.plus{
    color: #5cb85c;
}
.vote{
    font-size: 25px;
    line-height: 50px;
    margin-left: 10px;
    font-weight: bold;
    -webkit-transition: color .6s ease;
    -moz-transition: color .6s ease;
    -o-transition: color .6s ease;
    transition: color .6s ease;
}
.btn{
    border-radius: 4px;
}
.inline li{
    display: block;
}
.btn-filter {
    margin-bottom: 20px;
    padding: 1em 2em;
    outline: none;
    font-weight: 600;
    border: none;
    color: #fff;
    background: #1fa597;
}
.utilisateur {
    color: grey;
    opacity: 0.6;
}
.content {
    width: 100%;
}
.panelbg{
    background-color: rgba(255,255,255,0.8) !important;
}
h1 {
    color: #1FA597;
}
.summary {
    text-align: left;
}
.table-filter .media-meta {
    font-size: 15px;
    color: #999;
    text-align: left;
}
.table-filter .media .title {
    color: #1FA597;
    font-size: 20px;
    font-weight: bold;
    line-height: normal;
    margin: 0;
    text-align: left;
}
.table-filter .media .title span {
    font-size: .8em;
    margin-right: 20px;
    text-align: left;
}
.btn-number {
    height: 35px;
}
.ckbox{
    display: inline-flex;
}
.ckbox ul{
    list-style-type: none;
    padding: 0;
}
.ckbox li{
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    margin-left:20px;
}

/*//// AJOUT ////*/

/*//// REPONSES ////*/
.verysmallmargin{
    margin-top: 10px;
    margin-bottom: 20px;
}
.verysmallpaddingtop{
    padding-top: 30px;
    padding-bottom: 30px;
}
.veryverysmallpaddingtop{
    display: block;
    padding-top: 10px;
}
.smallpaddingtop{
    padding-top: 110px;
    padding-bottom: 30px;
}
.paddingtop{
    padding-top: 150px;
    padding-bottom: 100px;
}
h1 {
    text-align: center;
}
.chat
{
    list-style: none;
    margin: 0;
    padding: 0;
}
.chat li
{
    padding-bottom: 15px;
    border-bottom: 1px dotted #B3A9A9;
}
input{
    text-align: center;
}
.left {
    text-align: left;
}
.primary-font {
    color: #1FA597;
    font-size: 20px;
    font-weight: bold;
    line-height: normal;
    margin: 0;
    text-align: right;
}
.right p {
    width: 50%;
    text-align: right;
    float: right;
}
.ckbox{
    margin-top: 15px;
}

.whitetext{
    color:white;
    font-size: 1.5em;
}
.greenbackground{
    background-color: rgba(0, 255, 0, 0.5);
    padding-top: 10px !important;
}

.left p {
    width: 50%;
    text-align: left;
    float: left;
}
.betterpaddingbtn{
    padding-top:0.5em;
    padding-bottom:0.5em;
    padding-left:1em;
    padding-right:1em;
}
.media-photo {
    margin: 10px;
}
.btn-sm {
    padding: 1em 2em;
    outline: none;
    font-weight: 600;
    border: none;
    color: #fff;
    background: #1fa597;
    margin-bottom: 10px;
}
.inputrep {
    margin: auto;
    width: 100%;
    height: 200px;
}
.textareainput{
    margin: auto;
    display:block;
}
.no-deco{
    list-style-type: none;
}
.connexionform {
    max-width: 200px;
    padding: 1em 2em;
    outline: none;
    font-weight: 600;
    color: #fff;
    background: #1fa597;
    text-align: center;
    margin:auto;
    margin-bottom: 10px;
}

/*//// PROFIL ////*/



.card {
    padding-top: 20px;
    margin: 10px 0 20px 0;
    background-color: rgba(214, 224, 226, 0.2);
    border-top-width: 0;
    border-bottom-width: 2px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.card .card-heading {
    padding: 0 20px;
    margin: 0;
}

.card .card-heading.simple {
    font-size: 20px;
    font-weight: 300;
    color: #777;
    border-bottom: 1px solid #e5e5e5;
}

.card .card-heading.image img {
    display: inline-block;
    width: 46px;
    height: 46px;
    margin-right: 15px;
    vertical-align: top;
    border: 0;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.card .card-heading.image .card-heading-header {
    display: inline-block;
    vertical-align: top;
}

.card .card-heading.image .card-heading-header h3 {
    margin: 0;
    font-size: 14px;
    line-height: 16px;
    color: #262626;
}

.card .card-heading.image .card-heading-header span {
    font-size: 12px;
    color: black;
}

.card .card-body {
    padding: 0 20px;
    margin-top: 20px;
}

.card .card-media {
    padding: 0 20px;
    margin: 0 -14px;
}

.card .card-media img {
    max-width: 100%;
    max-height: 100%;
}

.card .card-actions {
    min-height: 30px;
    padding: 0 20px 20px 20px;
    margin: 20px 0 0 0;
}

.card-comments .media-heading {
    font-size: 13px;
    font-weight: bold;
}

.card.people {
    position: relative;
    display: inline-block;
    width: 170px;
    height: 300px;
    padding-top: 0;
    margin-left: 20px;
    overflow: hidden;
    vertical-align: top;
}

.card.people:first-child {
    margin-left: 0;
}

.card.people .card-top {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 170px;
    height: 150px;
    background-color: #ffffff;
}

.card.people .card-top.green {
    background-color: #53a93f;
}

.card.people .card-top.blue {
    background-color: #427fed;
}

.card.people .card-info {
    position: absolute;
    top: 150px;
    display: inline-block;
    width: 100%;
    height: 101px;
    overflow: hidden;
    background: black;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.card.people .card-info .title {
    display: block;
    margin: 8px 14px 0 14px;
    overflow: hidden;
    font-size: 20px;
    font-weight: bold;
    line-height: 18px;
    color: black;
}

.card.people .card-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    display: inline-block;
    width: 100%;
    padding: 10px 20px;
    line-height: 29px;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.card.hovercard {
    position: relative;
    padding-top: 0;
    overflow: hidden;
    text-align: center;
    background-color: rgba(214, 224, 226, 0.2);
}

.card.hovercard .cardheader {
    background: url("accueil1.jpg");
    background-size: cover;
    height: 400px;
}

.card.hovercard .avatar {
    position: relative;
    top: -100px;
    margin-bottom: -50px;
}

.card.hovercard .avatar img {
    width: 200px;
    height: 200px;
    max-width: 200px;
    max-height: 200px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 5px solid rgba(255,255,255,0.5);
}

.card.hovercard .info {
    padding: 4px 8px 10px;
}

.card.hovercard .info .title {
    margin-bottom: 4px;
    font-size: 40px;
    line-height: 1;
    color: #262626;
    vertical-align: middle;
}

.card.hovercard .bottom {
    padding: 0 20px;
    margin-bottom: 17px;
}

.card-body-social {
    font-size: 50px;
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
}
.card-body-social .git {
    color: black;
    cursor: pointer;
    margin-left: 10px;
}
.card-body-social .twitter {
    color: #19C4FF;
    cursor: pointer;
    margin-left: 10px;
}
.card-body-social .google-plus {
    color: #DD4B39;
    cursor: pointer;
    margin-left: 10px;
}
.card-body-social .facebook {
    color: #49649F;
    cursor: pointer;
    margin-left: 10px;
}
.card-body-social .linkedin {
    color: #007BB6;
    cursor: pointer;
    margin-left: 10px;
}
.boite {
    border: 2px solid #1fa597;
    background-color: #1fa597;
    border-radius: 5px;
    justify-content: space-between;
    min-height: 300px;
    margin-bottom:  20px;
}
.boitevote {
    border: 2px solid #1fa597;
    background-color: #1fa597;
    border-radius: 5px;
    min-height: 300px;
    margin-top: 20px;
    margin-bottom:  50px;
}
.boite h1 {
    color: white;
    text-align: center;
}
.boite p {
    color: white;
    text-align: left;
    font-size: 18px;
}
.boitevote h1 {
    color: white;
    text-align: center;
}




.wrapper-dropdown-3 {
    /* Size and position */
    position: relative;
    width: 226px;
    height: 48px;
    margin: 0 auto;
    padding: 12px;
    background: #fff;
    border: 1px solid rgba(0,0,0,0.15);
    box-shadow: 0 1px 1px rgba(50,50,50,0.1);
    cursor: pointer;
    outline: none;
}

.wrapper-dropdown-3:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    right: 15px;
    top: 50%;
    margin-top: -3px;
    border-width: 6px 6px 0 6px;
    border-style: solid;
    border-color: #000 transparent;
}

.wrapper-dropdown-3 .dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    padding:0;
    margin:0;
    /* Styles */
    background: white;
    border: 1px solid rgba(0,0,0,0.17);
    font-weight: normal;
    -webkit-transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    -ms-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
    list-style: none;
    opacity: 0;
    pointer-events: none;
}

.wrapper-dropdown-3 .dropdown li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #000;
    border-bottom: 1px solid #e6e8ea;
    box-shadow: inset 0 1px 0 rgba(255,255,255,1);
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.wrapper-dropdown-3 .dropdown li i {
    float: right;
    color: inherit;
}

.wrapper-dropdown-3 .dropdown li:first-of-type a {
    border-radius: 7px 7px 0 0;
}

.wrapper-dropdown-3 .dropdown li:last-of-type a {
    border: none;
    border-radius: 0 0 7px 7px;
}

/* Hover state */

.wrapper-dropdown-3 .dropdown li:hover a {
    background: #f3f8f8;
}

/* Active state */

.wrapper-dropdown-3.active .dropdown {
    opacity: 1;
    pointer-events: auto;
}

/* No CSS3 support */

.no-opacity       .wrapper-dropdown-3 .dropdown,
.no-pointerevents .wrapper-dropdown-3 .dropdown {
    display: none;
    opacity: 1; /* If opacity support but no pointer-events support */
    pointer-events: auto; /* If pointer-events support but no pointer-events support */
}

.no-opacity       .wrapper-dropdown-3.active .dropdown,
.no-pointerevents .wrapper-dropdown-3.active .dropdown {
    display: block;
}
/*#############################*/
.x-smalltext{
    font-size: 20px;
    font-weight: bold;
}