
/*///// BODY /////*/

body {
    font-family: "inherit";
}

/*///// ACCUEIL /////*/
.dialog{
    z-index: 1000;
}
.largetitle {
    font-size: 46px;
    font-weight: bold;
    text-align: center;
    margin-top: 140px;
    margin-right: 200px;
    color: white;
}
.slogan {
    font-size: 40px;
    font-style: italic;
    text-align: center;
    margin-left: 200px;
    margin-top: 50px;
    color: white;
}
.presentation {
    font-size: 25px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

/*///// NAVBAR /////*/

.navbar-toggle{
    background: #1fa597;
}
.icon-bar{
    background-color: black;
    height: 2px;
    width: 10px;
}

.navbar-titre {
    font-size: 32px;
    margin-top: 20px;
    float: right;
    height: 50px;
    padding: 0 15px;
    line-height: 20px;
}
nav li{
    font-size: 20px;
    color: black;
    margin-right: 5px;
    margin-top: 10px;
}
.navbar-defaultt{
    padding-top: 10px;
    position:fixed;
    width: 100%;
    background-color: #FFFFFF;
    -webkit-transition: all 0.5s ease-in-out;
    color: #74716D;
    z-index: 1000;
    box-shadow: 10px 0 5px #888888;
}
.paddingtop{
    padding-top: 100px;
}
.x-navbar-fixed-top{
    position:fixed;
    min-height: 50px;
    box-shadow: 0 0 0 #888888 !important;
    background-color: rgba(0,0,0,0) !important;
}
.x-navbar-fixed-top a:not(.dropdown){
    color: white !important;
}
.x-navbar-fixed-top .dropdown a{
    color: black !important;
}
.x-navbar-fixed-top a:hover{
    color: #000 ;
}
.navbar-defaultt a{
    color: black;
}
.accueil {
    color: black;
    margin: 0 5px;
    box-shadow: 0 0 1px #000;
    -webkit-transition: all 0.5s ease-in-out;
    border: 0px;
}
.accueil:hover{
    -webkit-transform: scale(1.1);
    background: #31708f;
    color: #000 ;
}
.navbar img {
    width: 70px;
    height: 70px;
}
td:first-child{
    vertical-align: middle !important;
    margin:auto;
}
/*//// Avatar ////*/
.avatar-32x{
    height: 100px !important;
    width: 100px !important;
    overflow: hidden;
}
.avatar-16x{
    height: 50px !important;
    width: 50px !important;
    overflow: hidden;
    border-radius: 50px;
}
.avatar-160x{
    height: auto;
    max-width: 250px;
    overflow: hidden;
    border-radius: 100px;
}
.navbar-avatar{
    display: inline-block;
    margin : 0 auto;
    padding: 0 !important;
}


/*///// FOOTER /////*/

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,300);
footer { background-color:#1fa597; min-height:350px; text-align: center;}

.footerleft p { color:#fff; font-size:12px !important; margin-bottom:15px;}
.footerleft p i { width:20px; color:#999;}


.paddingtop-bottom {  margin-top:50px; position: inherit}
.footer-ul { list-style-type:none;  padding-left:0px; margin-left:2px;}
.footer-ul li { line-height:29px; font-size:13px;}
.footer-ul li a { color:white; transition: color 0.2s linear 0s, background 0.2s linear 0s; }
.footer-ul i { margin-right:10px;}
.footer-ul li a:hover {transition: color 0.2s linear 0s, background 0.2s linear 0s; color:#ff670f; }



.copyright { min-height:40px; background-color:#1fa597;}
.copyright p { text-align:center; color:#FFF; padding:10px 0; margin-bottom:0px;}
.heading7 { font-size:21px; font-weight:700; color:#FFFFFF; margin-bottom:22px;}

.ligne_footer {
    border-bottom:1px solid white;
}

i{
    margin-right: 25px;
}
/*///// MODAL //////*/

a, button {
    color: white;
    text-decoration: none;
    outline: none;
}

a:hover, a:focus {
    outline: none;
}

button {
    padding: 1em 2em;
    outline: none;
    font-weight: 600;
    border: none;
    color: #fff;
    background: #1fa597;
}

/*//// BLOC ACCUEIL/////*/

.publication-blog-home {
    padding-bottom: 50px;
    background: url("qsd.jpg") no-repeat fixed center center;
    background-size: 100% auto;
    background-color: #f1f1f1;
}
.publication-blog-home h2 {
    text-align: center;
    font-weight: 300;
    margin-bottom: 30px;
    font-size: 44px;
    margin-top: 70px;
}
.publication-blog-home h2 b {
    color: #1fa597;
}
.publication-blog-home .fond-publication-home {
    background: #ffffff;
    border-radius: 3px;
    overflow: hidden;
    height: 400px;
    margin-bottom: 20px;
    display: block;
    color: inherit;
    text-decoration: none;
    position: relative;
}
.publication-blog-home .fond-publication-home:hover h3 {
    color: #2BBCDE;
    /*    box-shadow: 0px 4px 3px 3px rgba(0, 0, 0, 0.08);*/
}
.publication-blog-home .fond-publication-home:hover .lien-blog-home {
    height: 400px;
    width: 100%;
    color: #aaa;
    background-color: #1fa597;
    position: absolute;
    top: 0;
    opacity: 0.95;
    -webkit-transition: all 0.8s ease-out 0s;
    -o-transition: all 0.8s ease-out 0s;
    transition: all 0.8s ease-out 0s;
}
.publication-blog-home .black {
    background: #1fa597;
}
.publication-blog-home .fond-publication-home .img-publication-principal-home {
    display: inline-block;
    width: 50%;
    overflow: hidden;
    height: 100%;
}
.publication-blog-home .fond-publication-home .img-publication-principal-home img {
    height: 100%;
    width: auto;
}
.publication-blog-home .fond-publication-home .contenu-publication-principal-home {
    display: inline-block;
    vertical-align: top;
    width: 49%;
    padding: 0 10px;
}
.publication-blog-home .fond-publication-home .contenu-publication-principal-home h3 {
    font-weight: 900;
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
}
.publication-blog-home .fond-publication-home .contenu-publication-principal-home p {
    color: #ffffff;
    font-size: 16px;
    font-weight: 300;
}
.publication-blog-home .fond-publication-home .contenu-publication-home {
    padding: 0 10px;
}
.publication-blog-home .fond-publication-home .contenu-publication-home h3 {
    font-weight: 900;
    font-size: 20px;
    text-transform: uppercase;
}
.publication-blog-home .fond-publication-home .img-publication-home  {
    overflow: hidden;
    max-height: 180px;
}
.lien-blog-home {
    height: 400px;
    width: 0%;
    color: #aaa;
    background-color: #1fa597;
    position: absolute;
    top: 0;
    opacity: 0.0;
    -webkit-transition: all 0.8s ease-out 0s;
    -o-transition: all 0.8s ease-out 0s;
    transition: all 0.8s ease-out 0s;
    text-align: center;
    padding-top: 180px;
}
.lien-blog-home span {
    text-align: center;
    max-height: 400px;
    border: 1px solid #fff;
    display: inline-block;
    padding: 10px 30px;
    border-radius: 3px;
    color: #fff;
    font-weight: 900;
    font-size: 16px;
}
.publication-blog-home .toutes-les-publication-home {
    background: #1fa597;
    height: 400px;
    width: 100%;
    display: inline-block;
    padding: 20px;
    text-decoration: none;
    border-radius: 3px;
}
.publication-blog-home .toutes-les-publication-home span {
    color: #fff;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 26px;
}

@media (max-width: 950px) {
    .avatar-160x{
        height: auto;
        max-width: 200px;
        overflow: hidden;
        border-radius: 100px;
    }
    #tabs {
        margin: 0 0 0 -280px;
    }
    .x-navbar-fixed-top a:not(.dropdown){
        color: black !important;
    }
    .accueil{
        background-color: rgba(255,255,255,0.8);
        color: black;
    }
    .x-navbar-fixed-top a{
        color: black !important;
    }
    .navbar-titre{
        display : none;
    }
    .slogan {
        margin-left: 0;
    }
    .publication-blog-home h2 {
        text-align: center;
        font-weight: 300;
        margin-bottom: 30px;
        font-size: 34px;
        margin-top: 70px;
    }
    .publication-blog-home .fond-publication-home {
        background: #ffffff;
        border-radius: 3px;
        overflow: hidden;
        height: inherit;
        margin-bottom: 20px;
        display: block;
        color: inherit;
        text-decoration: none;
        position: relative;
    }
    .publication-blog-home .fond-publication-home .img-publication-principal-home {
        display: inline-block;
        width: 100%;
        overflow: hidden;
        height: auto;
    }
    .publication-blog-home .fond-publication-home .img-publication-principal-home img {
        height: auto;
        width: 100%;
    }
    .publication-blog-home .black {
        background: #fff;
    }
    .publication-blog-home .fond-publication-home .contenu-publication-principal-home {
        display: inline-block;
        vertical-align: top;
        width: 100%;
        padding: 0 10px;
    }
    .publication-blog-home .fond-publication-home .contenu-publication-principal-home h3 {
        font-weight: 900;
        color: #333;
        text-transform: uppercase;
        font-size: 20px;
    }
    .publication-blog-home .fond-publication-home .contenu-publication-principal-home p {
        color: #333;
        font-size: 14px;
        font-weight: 400;
    }
    .publication-blog-home .toutes-les-publication-home {
        background: #1fa597;
        height: 100%;
        width: 100%;
        display: inline-block;
        padding: 20px;
        text-decoration: none;
        border-radius: 3px;
    }
}

/*//// TAGS /////*/

.tagstitle {
    font-size: 40px;
    font-weight: 100;
    text-align: center;
    color: #1FA597;
}

.img-responsive {
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
    -webkit-transition: 300ms -webkit-filter linear;
    -moz-transition: 300ms -moz-filter linear;
    -moz-transition: 300ms filter linear;
    -ms-transition: 300ms -ms-filter linear;
    -o-transition: 300ms -o-filter linear;
    transition: 300ms filter linear;
    -webkit-box-shadow: 0px 2px 6px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 6px 2px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 6px 2px rgba(0,0,0,0.75);
    width: 80%;
    max-height: 340px;
    margin: auto;
    margin-top: 50px;
    margin-bottom:50px;
    background-size: cover;
    height: 300px;
    display: flex;
    background-position: center;
}

.centertext{
    background-color: rgba(0,0,0,0.5);
    color: white;
    font-size: 50px;
    width: 100%;
    text-align: center;
    margin: auto;
    display: inline-block;
    vertical-align: middle;
}

.img-responsive:hover {
    filter: none; /* IE6-9 */
    -webkit-filter: grayscale(0); /* Google Chrome, Safari 6+ & Opera 15+ */

}


/*//// QUESTIONS ////*/

.btn-filter {
    margin-bottom: 20px;
    padding: 1em 2em;
    outline: none;
    font-weight: 600;
    border: none;
    color: #fff;
    background: #1fa597;
}

.table-filter .media .title span.resolu {
    color: #5cb85c;
}

.table-filter .media .title span.encours {
    color: #f0ad4e;
}

.table-filter .media .title span.annule {
    color: #d9534f;
}

.content {
    width: 100%;
}
.panelbg{
    background-color: rgba(255,255,255,0.8) !important;
}
h1 {
    color: #1FA597;
}
.summary {
    text-align: left;
}
.table-filter .media-meta {
    font-size: 15px;
    color: #999;
    text-align: left;
}
.table-filter .media .title {
    color: #1FA597;
    font-size: 20px;
    font-weight: bold;
    line-height: normal;
    margin: 0;
    text-align: left;
}
.table-filter .media .title span {
    font-size: .8em;
    margin-right: 20px;
    text-align: left;
}
.btn-number {
    height: 35px;
}
.ckbox{
    display: inline-block;
}
.ckbox ul{
    list-style-type: none;
    padding: 0;
}
.ckbox li{
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    margin-left:20px;
}

/*//// AJOUT ////*/

select.frecuency {
    border: none;
    font-style: italic;
    background-color: transparent;
    cursor: pointer;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: -webkit-transform 3s ease-in;
    transition: -webkit-transform 3s ease-in;
    border-bottom: none;
}
select.frecuency:focus {
    outline: none;
    border-bottom: 5px solid #39b3d7;
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
    -webkit-transition: -webkit-transform 3s ease-in;
    transition: -webkit-transform 3s ease-in;
}
.free {
    text-transform: uppercase;
    color: #1FA597;
}
.input-group {
    margin: auto;
    width: 100%;
    height: 200px;
    background-color: rgba(255,255,255,0.8) !important;
}
input {
    margin-bottom: 20px;
    margin-top: 20px;
    width: 70%;
    height: 60px;
    text-align: center;
}
textarea {
    width: 70%;
    height: 120px;
}

.btn-lg {
    display: flex;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 1em 2em;
    outline: none;
    font-weight: 600;
    border: none;
    color: #fff;
    background: #1fa597;
}
::-webkit-input-placeholder {
    color: grey;
    opacity: 0.9 !important; /* for older chrome versions. may no longer apply. */
}

::-moz-placeholder { /* Firefox 18- */
    color: grey;
    opacity: 0.9 !important;
}

::-moz-placeholder {  /* Firefox 19+ */
    color: grey;
    opacity: 0.9 !important;
}

:-ms-input-placeholder {
    color: grey;
}
textarea {
    resize: none;
}

/*//// REPONSES ////*/

.smallpaddingtop{
    padding-top: 110px;
    padding-bottom: 30px;
}
.paddingtop{
    padding-top: 150px;
    padding-bottom: 100px;
}
h1 {
    text-align: center;
}
.chat
{
    list-style: none;
    margin: 0;
    padding: 0;
}
.chat li
{
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #B3A9A9;
}
input{
    text-align: center;
}
.left {
    text-align: left;
    width: 50%;
}
.primary-font {
    color: #1FA597;
    font-size: 20px;
    font-weight: bold;
    line-height: normal;
    margin: 0;
    text-align: right;
}
.right p {
    width: 50%;
    text-align: right;
    float: right;
}

.media-photo {
    margin: 10px;
}
.btn-sm {
    padding: 1em 2em;
    outline: none;
    font-weight: 600;
    border: none;
    color: #fff;
    background: #1fa597;
    margin-bottom: 10px;
}

/*//// PROFIL ////*/

.card.hovercard .avatar {
    position: relative;
    top: 300px;
    margin-left: 650px;
}

.card.hovercard .avatar img {
    width: 200px;
    height: 200px;
    max-width: 200px;
    max-height: 200px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 5px solid rgba(255,255,255,0.5);
}
.info {
    padding: 4px 8px 10px;
}

.info .title {
    margin-bottom: 4px;
    font-size: 24px;
    line-height: 1;
    color: #262626;
    vertical-align: middle;
}